<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

<div class="row">
<div class="column">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Choose" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->


{% if g.calendars is defined  %}
  <div class="row">
  {% for cal in g.calendars if cal.selected %}
       <div class="form-input">
      <label><input type="checkbox" class="checkbox" value="{{cal.id}}">
	   {{ cal.summary }}</label>
        </div>
        </div> <div class="row">
  {% endfor %}
  </div>
{% endif %}
    
<button type="button", class="btn btn-default submit">Select</button>
  </div>
  <div class="column">
    <p> </p>
  </div>

 <div class="column">

<div id="busy_times"><p style="margin-top: 10px;"></p></div>
 </div>
</div>

<script>
$(".submit").on("click", function(event){
    var cals = [];
    $.each($('.checkbox:checkbox:checked'), function(index, value) {
    cals.push(value.value);});
    $.post("/busy", {list: cals}, function(data){
    var events = data.result;
    var times_string = "<p> </p> <p> </p> <p> </p> <p> </p> <p> </p> <p> </p>";
    for(i = 0; i < events.length; i++){
    times_string += "<p>" + events[i] + "</p>";
    } //end of for loop
    $('#busy_times').html(times_string);
  });//end of post
});//end of on click
</script>




  </div>  <!-- container (for bootstrap) -->
  </body> </html>
